.assets
.env
*.pyc
dist/
build/
docs/
*.egg-info/
*.egg
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzz
.venv/
venv/
__pycache__/
poetry.lock
.pytest_cache/
botpy.log
tests/
.DS_Store
nanobot/agent/nanobot.code-workspace
nanobot/templates/memory/nanobot.code-workspace

# JavaScript / Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.npm/

# Local App Data
.nanobot/
buyer-whatsapp-auth/
session_*/